@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h2> DEASP Contacts</h2>

    <h3>DEASP OPW-APP Site administration</h3>
    <P>
        Contacts:John LEE / Colm Carberry
        <strong>E-mail:</strong>   <a href="OPWAPP_Support@welfare.com">OPWAPP_Support@Welfare.ie</a><br />
    </P>

    <h3>DEASP FMU-Accommodation Team North: </h3>
    <p>
        Contacts: Ciaran Lawless / Declan Cullen
        <strong>E-mail:</strong>   <a href="FMU-TeamNorth@welfare.com">FMU-TeamNorth@welfare.ie</a><br />
    </p>

    <h3>DEASP FMU-Accommodation Team South: </h3>
    <p>
        Contacts: Patricia Tobin / Iris Somers
        <strong>E-mail:</strong>   <a href="FMU-TeamSouth@welfare.com">FMU-TeamNorth@welfare.ie</a><br />
    </p>

    <h3>DEASP FMU-Accommodation Team South: </h3>
    <p>
        Contacts: Sinead Cannon / Maria O'Dwyer
        <strong>E-mail:</strong>   <a href="FMU-Finance@welfare.com">FMU-Finance@welfare.ie</a><br />
    </p>
</div>

<div>
    <h2> OPW Contacts</h2>

    <h3>OPW Help DesK</h3>
    <P>
        <strong>E-mail:</strong>   <a href="Helpdesk@opw.ie">Helpdesk@opw.ie</a><br />
    </P>

    <h3>OPW Elective Works Section (): </h3>
    <p>
        Contacts: Jennifer Murphy
        <strong>E-mail:</strong>   <a href="OPW-Electiveworks@opw.ie">OPW-Electiveworks@opw.ie</a><br />
    </p>

    <h3>OPW Elective M&E Section (): </h3>
    <p>
        Contacts: Tim Kelly
        <strong>E-mail:</strong>   <a href="OPW-M&Eworks@opw.ie">OPW-M&E@opw.ie</a><br />
    </p>

    <h3>OPW Document Storage Section (): </h3>
    <p>
        Contacts: Paul Dolan
        <strong>E-mail:</strong>   <a href="OPW-Storage@opw.ie">OPW-Storage@opw.ie</a><br />
    </p>

    <h3>OPW Capital Section (): </h3>
    <p>
        Contacts: Paul Malone
        <strong>E-mail:</strong>   <a href="OPW-Capital@opw.ie">OPW-Capital@opw.ie</a><br />
    </p>
</div>