@{
    ViewBag.Title = "FAQ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<Div>
    <p>
        <heavy><bold> Notes on the completion of the Request for Works - Client Funding Request Form</bold></heavy>
    </p>
    <ol>
        <li>

            <p> <Bold>Q : When is this App to be used</Bold></p>
            <p> A : This App is to be used for all Elective Works requests (Building Maintenance Elective Works, M&E Elective works, Other Elective Works).</p>
        </li>
        <li>

            <p><bold>Q : How do local staff get work done</bold></p>
            <p>A : DEASP staff are required to request the OPW services through the Help Desk or via Local Requisition Form.</p>

        </li>
        <li>


            <p><Bold>Q : How are local works under 1,000 Approved and Funded</Bold></p>
            <p>
                A : All works under €1,000 are to be completed via Help desk / local requisition.
                The approval and funding for these works is automatic via the OPWApp.
            </p>
        </li>
        <li>


            <p><Bold> Q : How are works over 1,000 Approved and Funded</Bold></p>
            A : All works over €1,000 are to be registered via the Help desk / local requisition. The OPW Staff will then request works approval and
            Funding Via the OPWApp. if in Order the FMU-Accommodation will approve the works and the FMU Finance Team will Fund works.
        </li>
        <li>


            <p><Bold>Q : How are works over 1,000 Approved and Funded</Bold></p>
            <p>
                A : All works over €1,000 are to be registered via the Help desk / local requisition. The OPW Staff will then request works approval and
                Funding Via the OPWApp. if in Order the FMU-Accommodation will approve the works and the FMU Finance Team will Fund works.
            </p>
        </li>
        <li>

            <p><Bold> Q : How do I know that someelse has not already submitted the works for approval</Bold></p>
            <p>A : OPW Staff will be able to see and monitor the status of works request for their section.</p>
        </li>
        <li>


            <p><Bold>Q : Can I change a works request.</Bold></p>
            <p> A : Yes, as long as it is status is not already approved or Funded.</p>
        </li>
        <li>


            <p>  <Bold> Q : How do DEASP Accommodation Staff know what works has been Approved or Require Approval</Bold></p>
            <p>A : The OPW App has a list of works for approval and also a list of works already approved.</p>
        </li>
        <li>


            <p> <Bold>Q : How do I know what building code to use.</Bold></p>
            <p>   A : The OPWApp provides a list of DEASP buildings by Building Type (DEASP Office, Branch Office, HSE Location)</p>
        </li>
    </ol>
</Div>                        