@model OPWAPP2.Models.Authorisation

@{
    ViewBag.Title = "Authorisation";
}

<body>
    <H2> Administrator DashBoard </H2>


    @if (Session["UserName"] != null)
    {
        <text> Welcome Administrator -  @Session["UserName"].ToString() </text>

    }
    <br />
    <h4>List of Tasks</h4> <img class="mySlides" src="~/Resources/Men at work cartoon.jpg" alt="AMD Image" style="width:50%">
    <hr />

    <div>
		<ol>
			<li>
				Create new user<pre><button type="button" onclick="location.href='@Url.Action("Create", "Authorisation")'">Submit</button></pre>
				<br />
			</li>
			<li>
				Maintain / List Users <pre><button type="button" onclick="location.href='@Url.Action("Index", "Authorisation")'">Submit</button></pre>
				<br />
			</li>
			<li>
				Logout<pre><button type="button" onclick="location.href='@Url.Action("Login","Home")'">Logout</button></pre>
				<br />
				<br />
			</li>
		</ol>
    </div>
</body>
