@model OPWAPP2.Models.Authorisation

@{
    ViewBag.Title = "MEDashBoard";
 }

<body>
    <H2>MandE_Works User DashBoard </H2>


    @if (Session["UserName"] != null)
    {
        <text> Welcome MandE_WorksUser -  @Session["UserName"].ToString() </text>

    }

</body>
